#project in progress
3_transformer.ipynb

#data
data/
house-prices/

#models
*.pt
!2.CNN for CIFAR-10/results/*.pt

#wandb files
**/wandb/

#python cache
__pycache__/
*.pyc

#notebooks
*.ipynb_checkpoints/

#others
.DS_Store